.skeleton {
	min-width: 17vw;
	height: 300px;
	margin-left: 2em;
	margin-bottom: 2em;
	background: linear-gradient(90deg, #acacac, #d8d8d8);
	background-size: 400% 400%;
	animation: load 2s ease infinite;
}

@-webkit-keyframes load {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes load {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes load {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
